:root {
  background-color: #e5e5e5;
  --gray-bg: 47, 48, 58;
  --light-gray: #f5f4fa;
  --blue-c: #2196f3;
  --blue-c2: #188ce8;
  --white-c: #fff;
  --black-c: #000;
  --text-c-1: #212121;
  --text-c-2: #757575;
}



body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .03em;
  background-color: var(--white-c);
}

button[type="button"] {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
}


/* Header */


.logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--black-c);
}

.logo > span {
  color: var(--blue-c);
}

.main-menu li a {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: .02em;
  color: var(--text-c-1);
}

.main-menu li a:hover,
.main-menu li a:focus {
  color: var(--blue-c);
}

header .email,
header .phone {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: .02em;
  color: var(--text-c-2);
}

.email:hover,
.phone:hover,
.email:focus,
.phone:focus {
    color: var(--blue-c);
}


/* Order */

.order-section {
  background-color: rgb(var(--gray-bg));
}

.order-section h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: .06em;
  text-transform: uppercase;
  color: var(--white-c);
}

.order-section .order {
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: .06em;
  color: var(--white-c);
  background: var(--blue-c);
}

.order-section .order:hover {
  background: var(--blue-c2);
}

/* About us */

.feature > h3 {
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--text-c-1);
}

.feature > p {
  line-height: 1.71;
  color: var(--text-c-2);
}

h2 { /* Заголовок во всех секциях одинаковый, поэтому без селектора */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  color: var(--text-c-1);
}



/* Team */

.team-section {
  background-color: var(--light-gray);
}

.team-member {
  background: var(--white-c);
  border-radius: 0px 0px 4px 4px;
}

.team-member > img {
  display: block;
  overflow: hidden;
}

.team-member-info {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  color: var(--text-c-1);
}

.team-member-info p {
  font-weight: 400;
  color: var(--text-c-2);
}


/* Footer */

footer {
  background-color: rgb(var(--gray-bg));
}

footer > .logo {
  color: var(--white-c);
}

footer > address {
  line-height: 1.715;
  color: var(--white-c);
}

footer > address li { /* Эти блоки нужны из-за косяка в эскизе */
  height: 1.5em; /* Указано так, чтоб масштабировалось, если изменят размер шрифта */
}

footer a {
  text-decoration: none;
  font-style: normal;
  color: rgba(var(--white-c));
  opacity: 60%;
}




/* ---------------------- Portfolio ----------------------- */



/* Filters */


.proj-filter button {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--text-c-1);
  background-color: var(--light-gray);
}

.proj-filter button.selected {
  background-color: var(--blue-c);
  color: var(--white-c);
}

/* Single project */

.project {
  cursor: pointer;
}

.project > div {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project h3 {
  color: var(--text-c-1);
}

.project p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-c-2);
}

